body{
    background-color: #252525;
}

.header{
    color: wheat;
    font-family: Arial, sans-serif;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.main-content{
    margin: 0 auto;
}

#gmail{
    padding-right: 20px;
}

#bilder{
    padding-right: 60px;
}

#logo, #suchfeld{
    
}

.buttons{
    padding: 15px 32px;
}