ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a:link, a:visited{
    color: black;
}

li {
    display: inline;
}

.left {
    text-align: left;
}

.right {
    float: right;
    padding-right: 20px;
}

#Signin {
    
}